/* General Use Classes */

h1,h2,h3,h5 {
    font-family: 'Lora', serif;

}

p {
    font-family: 'Lora', serif;
}

a {
    font-family: 'Playfair Display', serif;
    font-size: larger;
    text-decoration: none;
    color: #0F0F0F;
}

a:hover {
    text-decoration: none;
    color: #8AB5DB;
}

.backgroundBlack {
    background: #0F0F0F;
}

.backgroundWhite {
    background: #F3F3F3;
}

.whiteText {
    color: #F3F3F3;
}

.invertColor {
    filter: invert(1);
}

.borderWhite {
    border: 2px solid #F3F3F3;
    box-shadow: #F3F3F3;
}

.borderGrey {
    border: 2px solid #D1D1D1;
}

body::-webkit-scrollbar {
    display: none;
  }

.divSpace {
    height: 60px;
}

/* Header and Banner Classes */

.iconSize {
    height: 2em;
}

#bannerImageBox {
    position: relative;
    text-align: center;
    height: 67%;
}

#bannerImageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
    opacity: 100%;
    overflow: hidden;
    font-family: 'Lora', serif;
}

#bannerImage {
    filter: contrast(.5) blur(8px) grayscale(1) brightness(1.5);
    width: 100%;
    border-image: 20px solid #F3F3F3;
}

#nameBanner {
    font-family: 'Playfair Display', serif;
}

.navBorder {
    border: 0px 2px 0px 2px solid black;
}

.navButton:hover {
    transform: scale(1.5);
}

/*  Content Classes */

.dateStamp {
    color: #BEBEBE;
    font-size: medium;
}

/* ---------------Animations--------------- */


/* Focus in Animation */
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  /* Track in Animation 1.5*/
  .tracking-in-expand1 {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.5s both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Track in Animation 2*/
  .tracking-in-expand2 {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  /* Track in Animation 2.5*/
  .tracking-in-expand3 {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.5s both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }